input {
    margin: auto;
    width: 36%;
    font-size: 52px;
    height: 1em;
    font-family: "Catamaran";
    background-color: transparent;
    outline: 0;
    border: none;
    color: #56CBF9;
    border-bottom: 2px solid #56CBF9;
}

button {
    margin: auto;
    margin-top: 16px;
    width: 36%;
    font-size: 52px;
    font-family: "Catamaran";
    background-color: transparent;
    outline: 0;
    border: 2px solid #56CBF9;
    color: #56CBF9;
    display: block;
}